    <main class="page-wrapper">


      <!-- Navbar -->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->


      <!-- Hero image -->
     <div class="jarallax d-none d-md-block" data-jarallax data-speed="0.35">
      <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-primary-translucent"></span>
      <div class="bg-cover" style="background-image: url(<%= asset_path 'railsbridge.webp' %>); background-repeat: no-repeat; background-size: contain; background-position: center;">
      <div class="d-none d-xxl-block" style="height: 700px;"></div>
      <div class="d-none d-md-block d-xxl-none" style="height: 850px;"></div>
      </div>
    </div>


      <!-- Breadcrumb -->
      <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">About v.2</li>
        </ol>
      </nav>


      <!-- About company -->
      <section class="container pb-5 mb-md-2 mb-lg-4">
        <h1 class="border-bottom pb-4">Rails bridgeとは</h1>
        <div class="row pt-2 pt-md-3">
          <div class="col-md-6">
            <p class="fs-lg pe-lg-4 mb-1 mb-lg-4">Railsを使用した個人開発アプリのアイディア出しを助けるサービスです</p>
          </div>
        </div>
      </section>


      <!-- Stats -->
      <section class="container pb-5 mb-2 mb-md-4 mb-lg-5">
        <div class="bg-secondary rounded-3 py-5 px-3 px-md-0">
          <div class="row justify-content-center mb-2 py-md-2 py-lg-4">
            <div class="col-lg-10 col-md-11">
              <h2 class="pb-3">何ができるの？
              </h2>
              <div class="row row-cols-1 g-4">

                <!-- Item -->
                <div class="col">
                  <div class="card h-100 border-0 shadow-sm p-md-2 p-lg-4">
                    <div class="card-body d-flex align-items-center">
                      <div class="bg-primary shadow-primary rounded-3 flex-shrink-0 p-3">
                        <img src="assets/img/about/icons/add-group-light.svg" class="d-block m-1" width="40" alt="Icon">
                      </div>
                      <div class="ps-4 ms-lg-3">
                        <h3 class="display-5 mb-1">自身の作ったアプリをレビューしてもらえる</h3>
                        <p class="mb-0"><span class="fw-semibold">New Clients</span> per Month</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-3 mt-3"></div>
        </div>
      </section>
    </main>
